.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
}

.register-form {
  background: rgb(110, 121, 136);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.label-input-container {
  
  text-align: center;
  height: 50px;
  background: rgb(110, 121, 136);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 200px;
}

.input-field {
  text-align: left;
  height: 2px;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  
 
}


.button-container {
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.button {
  background-color: rgb(9, 61, 233)(0, 60, 255);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  border-radius: 8px;
}


.additional-containers {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; 
  border-radius: 8px;
}

.additional-container {
  border: 2px solid blue;
  text-align: center;
  height: 100px;
  background: lightgreen;
  padding: 20px;
  margin-right: 10px;
  border-radius: 8px;
}


.admin-panel {
  background: rgb(110, 121, 136);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

}

.data-panel {
  background-color: rgb(10, 8, 116);
  padding: 20px;
  width: 250px; 
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}